<div class="card pholder">
  <div class="question card-body">
    <p style="align-content: center" class="card-title" [(ngModel)]="newQuestion"  ngDefaultControl>
       {{question}}
  </p>
  </div>
  <div class="answer card-body">
    <p *ngIf ="isInDisplayMode" style="align-content: center" class="card-text">
    {{answer}}
  </p>
  <textarea *ngIf ="isInEditMode" class="form-control" [(ngModel)]="newAnswer">
{{answer}}
  </textarea>
  <div style="height: 5px"></div>
  <a href="#" class="card-link"  *ngIf ="isLongerThanDiv">Show more</a>
  <button class="btn btn-primary"  *ngIf ="isInDisplayMode" (click) = "editAnswer()"  style="float: right;">Edit answer</button>
  <button class="btn btn-primary"  *ngIf ="isInEditMode" (click) = "saveAnswer()" style="float: right;">Save</button>
  </div>
</div>

