<!--The content below is only a placeholder and can be replaced.-->
 <app-nav-component  [newAnswer] ="getNewAnswer()"  [newQuestion]="getNewQuestion()"  (sendData)="updateMessage(message=$event)"></app-nav-component>
 <div style="height: 50px;"></div>

 <ng-template #addCards>
 <app-add-question ></app-add-question>
</ng-template>

 <ng-template #loading >
    <div>Loading...</div>
</ng-template>


<ng-template #cards>
    <div *ngFor="let a of counter; let index = index" style="position:relative;">
        <app-quiz-place-holder [question]="getQuestion(index)" (changedAnswer)="newAnswerJson=$event" [answer] ="getAnswer(index)"> </app-quiz-place-holder>
        <div style="height: 50px;"></div>
      </div>
</ng-template>

<ng-container *ngIf="idleStatus  then addCards else elseif1">

</ng-container>


<ng-template #elseif1>
    <ng-container *ngIf="loadingStatus then loading; else cards">bar === 99</ng-container>
</ng-template>


