<!--The content below is only a placeholder and can be replaced.-->
 <app-nav-component  [newAnswer] ="getNewAnswer()"  [newQuestion]="getNewQuestion()"  (sendData)="updateMessage(message=$event)"></app-nav-component>
 <div style="height: 50px;"></div>
<div *ngFor="let a of counter; let index = index" style="position:relative;">
  <app-quiz-place-holder [question]="getQuestion(index)" (changedAnswer)="newAnswerJson=$event" [answer] ="getAnswer(index)"> </app-quiz-place-holder>
  <div style="height: 50px;"></div>
</div>